@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

font{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}